* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
}

.main-flex {
  display: flex;
  flex-wrap: wrap;
}

.number {
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  color: #fff;
}

.main-content {
  background-color: #eee;
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.image-1 {
  background-image: url(../homework/img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.image-2 {
  background-image: url(../homework/img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.image-3 {
  background-image: url(../homework/img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.section-content h3 {
  padding: 15px 0 5px 0;
}

.main-content:nth-child(3) {
  margin-right: 0px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 50px;
  }

  main {
    width: 100%;
  }

  .main-content {
    margin-bottom: 20px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .main-content:nth-child(3) {
    margin-right: auto;
  }

  footer {
    height: 50px;
    width: 100%;
  }
}
